In [ ]:
import pandas as pd, os

In [ ]:
def call_model(prompt: str) -> str:
    return f"Model response for: {prompt}"

In [6]:
def transform(filepath):
    with open(filepath, "r") as f:
        lines = [line.strip() for line in f if line.strip()]

    df_facts = pd.DataFrame({
        "prompt": [f"explain why {line} is interesting to humans" for line in lines]
    })
    return df_facts

In [7]:
df1 =transform("data/raw/facts_2025-07-21_12-23.txt")
df1

                                              prompt
0  explain why The first song played on Armed For...
1  explain why The airplane Buddy Holly died in w...
2  explain why Americans travel 1,144,721,000 mil...
3  explain why In 1778, fashionable women of Pari...
4  explain why In 1980, a Las Vegas hospital susp...
5  explain why On average, Americans` favorite sm...
6  explain why Jefferson invented the dumbwaiter,...
7  explain why The Human eyes never grow, but nos...
8  explain why In the White House, there are 13,0...
9  explain why When a Hawaiian woman wears a flow...